html *
{
   font-size: 14 !important;
   color: #000 !important;
   font-family: Verdana, Arial !important;
}
P {
  width: 50%;
  margin: auto;
}
ul {
    width: 50%;
    margin: auto;
  }
ol {
    width: 50%;
    margin: auto;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto
  }